apiVersion: v1
baseDomain: openshift.ch
compute:
- name: worker
  platform:
    aws:
      type: m5.2xlarge
      zones:
      - us-east-1a
  replicas: 3
controlPlane:
  name: master
  platform:
    aws:
      type: m6i.xlarge
  replicas: 3
metadata:
  name: <username>-ops-training.openshift.ch
networking:
  networkType: OVNKubernetes
platform:
  aws:
    region: us-east-1
    userTags:
      Application: openshift-operations
      Customer: acend
      Owner: <username>
publish: External
pullSecret: '{"auths": ...}'
sshKey: ssh-ed25519 AAAA...
